
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #471c1c;
    color: yellow;
}

#miDiv{
    width: 800px;
    height: 100px;
    background-color: rgb(255, 0, 191);
    color: white;
    font-size: 38px;
}